*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:#323232;
	font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Avenir Next", Avenir, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif !important;
}
a{
	text-decoration: none;
}
.head{
	height:40px;
	padding-left:30px;
}
div.head div:first-child img{
	height:24px;
	width:52px;
	float:left;
	margin-top:12px;
}
.head_nav_item1,.head_nav_item2,.head_nav_item3,.head_nav_item4,.head_nav_item5,.head_nav_item6,.head_nav_item7,.head_nav_item8,.head_nav_item9{
	list-style:none;
	float:left;
	margin-left:35px;
	position:relative;
	border-top:3px solid transparent;
}
.item_a1,.item_a2,.item_a3,.item_a4,.item_a5,.item_a6,.item_a7,.item_a8,.item_a9{
	color:#fff;
	font-size:14px;
	text-decoration:none;
	vertical-align:top;
	line-height:40px;
	font-weight:bold;
}
.head_nav_item1:hover,.head_nav_item2:hover,.head_nav_item3:hover,.head_nav_item4:hover,.head_nav_item5:hover,.head_nav_item6:hover,.head_nav_item7:hover,.head_nav_item8:hover,.head_nav_item9:hover{
	border-top:3px solid #fff;
	cursor:pointer;
}
.icon1,.icon2,.icon3,.icon4,.icon5{
	width:8px;
	height:8px;
	border-top:2px solid #fff;
	border-right:2px solid #fff;
	transform:rotate(135deg);
}
.head_nav li span.icon1,.icon2{
	position:absolute;
	top:14px;
	left:32px;
}
.icon3{
	position:absolute;
	top:14px;
	left:67px;
}
.icon4{
	position:absolute;
	top:14px;
	left:61px;
}
.icon5{
	position:absolute;
	top:14px;
	left:61px;
}
.line-flag{
	width:44px;
	height:19px;
	position:absolute;
	right:-25px;
	top:-5px;
}
.line-flag img{
	width:44px;
}
.head_user{
	float:right;
	height:40px;
	padding-right:30px;
	line-height:40px;
}
.head_user a{
	cursor:pointer;
	text-decoration:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.diamond_icon1,.diamond_icon2,.diamond_icon3,.diamond_icon4,.diamond_icon5{
	width:14px;
	height:14px;
	border-bottom:7px solid #fff;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-top:7px solid transparent;
}
.diamond_icon1,.diamond_icon2,.diamond_icon3,.diamond_icon4,.diamond_icon5{
	position:absolute;
	top:26px;
	left:10px;
}

.diamond_one,.diamond_two,.diamond_three,.diamond_four,.diamond_five{
	padding-top:10px;
	width:150px;
	background:#fff;
	border-radius:5px;
	text-align:center;
}
.diamond_one,.diamond_two,.diamond_three,.diamond_four,.diamond_five{
	position:absolute;
	top:40px;
	left:0px;
	z-index:1;
}
.diamond_one li,.diamond_two li,.diamond_three li,.diamond_four li,.diamond_five li{
	list-style:none;
	padding:5px;
}
.diamond_one li:hover,.diamond_two li:hover,.diamond_three li:hover,.diamond_four li:hover,.diamond_five li:hover{
	background:#B4E8C6;
}
.diamond_one a,.diamond_two a,.diamond_three a,.diamond_four a,.diamond_five a{
	text-decoration:none;
	color:gray;
}
.diamond1,.diamond2,.diamond3,.diamond4,.diamond5{
	display:none;
}
.head_nav_item3:hover .diamond1{
	display:block;
}
.head_nav_item5:hover .diamond2{
	display:block;
}
.head_nav_item7:hover .diamond3{
	display:block;
}
.head_nav_item8:hover .diamond4{
	display:block;
}
.head_nav_item9:hover .diamond5{
	display:block;
}
.mark{
	display:inline-block;
	width:8px;
	height:8px;
	border-top:1px solid gray;
	border-right:1px solid gray;
	transform:rotate(45deg);
	margin-bottom:2px;
}
.q-layer{
	width:610px;
	height:352px;
	display:none;
	background:#fff;
	border-radius:5px;
	color:gray;
	padding:20px;
	position:absolute;
	top:0px;
	left:157px;
	text-align:left;
	z-index:1;
}
.section-title a{
	float:right;
}
.section-title span{
	cursor:auto;
}
.section-title a:hover{
	color:green;
}
.section-item{
	padding:10px;
}
.section-item dt{
	float:left;
	color:black;
	margin-right:20px;
	cursor:auto;
}
.section-item dd a{
	font-size:15px;
	display:inline-block;
}
.section-item dd a:hover{
	background:#B4E8C6;
	border-radius:3px;
}
.section-item{
	border-top:1px dashed #ededed;
}
.q-layer div:nth-child(2){
	border-top:1px solid #ededed;
}
#a1{
	margin-left:83px;
}
#a2{
	margin-left:83px;
}
#list-q-layer:hover .q-layer{
	display:block;
}

/************sky*****************/
div.sky{
	width:100%;
	height:500px;
	background:#5AB6F7;
	overflow:hidden;
	position:relative;
	/*animation:sky_background 50s linear infinite;
	transform:translate3d(0,0,0);*/
}
div.sky .cloud1{
	background:url("../img/cloud_one.png");
	position:absolute;
	top:0;
	left:0;
	width:300%;
	height:500px;
	animation:cloud_one 50s linear infinite;
	transform:translate3d(0,0,0);
}
div.sky .cloud2{
	background:url("../img/cloud_two.png");
	position:absolute;
	top:0;
	left:0;
	width:300%;
	height:500px;
	animation:cloud_two 75s linear infinite;
	transform:translate3d(0,0,0);
}
div.sky .cloud3{
	background:url("../img/cloud_three.png");
	position:absolute;
	top:0;
	left:0;
	height:500px;
	width:300%;
	animation:cloud_three 100s linear infinite;
	transform:translate3d(0,0,0);
}
/*@keyframes sky_background{
	0%{
		background:#007fd0;
		color:#007fd0;
	}
	50%{
		background:#000;
		color:#a3d9ff;
	}
	100%{
		background:#007fd0;
		color:#007fd0;
	}
}*/
@keyframes cloud_one{
	0%{
		left:0;
	}
	100%{
		left:-200%;
	}
}
@keyframes cloud_two{
	0%{
		left:0%;
	}
	100%{
		left:-200%;
	}
}
@keyframes cloud_three{
	0%{
		left:0%;
	}
	100%{
		left:-200%;
	}
}
section{
    width:100%;
    height:500px;
	position:relative;
}
section>div.search{
    width:1000px;
    position: absolute;
    left:221px;
    top:187px;
}
section>div.search::after{
    content: "";
    display: block;
    clear:both;
}
section>div.search>h1{
	font-size:64px;
	padding-bottom:15px;
	margin-left: 270px;
}
section>div.search>input{
    float: left;
    width:750px;
    height: 58px;
    padding: 20px 0;
    display: block;
    border: none;
    font-size: 18px;
    text-indent: 31px;
    background-color: #fff;
}
section>div.search>a{
    float: left;
    display: block;
    width: 138px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #28b76c;
    border: 1px solid #27ad66;
    border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}
section>div.recommend{
background-color:#fff;
text-align: center;
width:100%;
padding-top: 70px;
padding-bottom: 70px;
}
h3{
	font-size: 24px;
	color:#000;
	font-weight: 500;
}
.list-item{
	width: 900px;
	display: flex;
	justify-content: space-between;
	margin:0 auto;
	list-style: none;
	font-size: 18px;
	color: #929292;
	border-bottom: 1px solid #ddd;
	margin-top: 30px;
}
.list-item>li{
	padding-bottom:10px;
	cursor: pointer;
}
.list-item>li.on{
	color: #000;
	border-bottom:2px solid green;
}	
section>div.recommend>div.place_recommend{
	width: 980px;
	display: flex;
	justify-content: space-between;
	margin: 30px auto 30px; 
}
div.place_recommend>dl{
	width: 306px;
	padding-bottom: 15px;
}
div.place_recommend>dl>dt{
	font-size: 16px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 12px;
	font-weight: 500;
	color: #323232;
	text-align: left;
}
div.place_recommend>dl>dd{
	float: left;
	font-size: 14px;
    overflow: hidden;
	line-height: 26px;
	cursor: pointer;
	margin-right: 12px;
	text-align: left;
}
div.place_recommend>dl>dd:hover{
	color: #27ad66;
}
div.place_btn>a{
	padding: 0 51px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #2fba71;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #28b76c;
    font-size: 18px;
    border-radius: 3px;
    text-decoration: none;
}
div.place_btn>a:hover{
	background: #28b76c;
	color: #fff;
}
section>div.main_target{
	background-color:#fff;
	text-align: center;
	width:100%;
}
div.main_target>div.scenery{
	width: 980px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 40px;
}
div.scenery img{
	width: 236px;
}
.scenery-item>a>img{
	height: 400px;
}
.scenery-item>a{
	display: block;
}
.secnery-item1{
	padding-left: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.secnery-item1>div>a>img{
	height: 197px;
}
.secnery-item1>div>a{
	display: block;
}
section>div.month{
	background: #fff;
	text-align: center;
	padding-top: 50px;
	width: 100%;
	height: 500px;
}
section>div.month>ul.list-item{
	border: 0;
	padding-bottom: 20px;
}
section>div.month>ul.list-item>li{
	width: 50px;
	height: 50px;
	line-height: 50px;
}
section>div.month>ul>li.on{
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #28b76c;
	color: #fff;
	border-radius: 50%;
}
section>div.month>ul.image-detail{
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 980px;
	height: 300px;
	margin: 0 auto;
}
.image-detail>li{
	width: 190px;
	height: 300px;
	overflow: hidden;
	background-size: cover;
    background-repeat: no-repeat;
    background-color: #efefef;
}
section>div.country{
	width: 100%;
	height: 800px;
	background: #fff;
	text-align: center;
	padding-top: 50px;
	border-bottom: 3px solid #28b76c;
}
.country>.tip{
	width: 980px;
	margin: 0 auto;
	text-align: left;
	font-size: 12px;
	color: #929292;
}
div.country-list{
	width: 980px;
	display: flex;
	justify-content: space-between;
	margin: 15px auto;
	text-align: left;
}
div.country-list>ul{
	list-style: none;
}
div.country-list>ul>li{
	padding-bottom:10px;
}
div.country-list>ul>li:hover{
	color: #28b76c;
}
div.country-list>ul>li>span>a>span{
	font-size: 14px;
	color: #000;
}
div.country-list>ul>li>span>a>em{
	font-size: 14px;
	font-style: normal;
	color: #929292;
}
.country-list>ul>li:nth-child(4)>span>a::after,
.country-list>ul>li:nth-child(5)>span>a::after,
.country-list>ul>li:nth-child(7)>span>a::after,
.country-list>ul>li:nth-child(9)>span>a::after,
.country-list>ul>li:nth-child(10)>span>a::after,
.country-list>ul>li:nth-child(15)>span>a::after{
	display: inline-block;
    background-color: rgb(255, 131, 35);
    content: "热门";
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 16px;
    padding: 1px 3px 0px;
    margin: 0px 0px 0px 5px;
}
#footer{
	width:100%;
	height:120px;
	text-align:center;
	padding-top:40px;
}
#footer>div:first-child>a:first-child{
	border-left: 2px solid #25a851;
  padding-left: 12px;
}
#footer>div:first-child>a{
	text-decoration:none;
	display: inline-block;
  border-left: 2px solid #636363;
  margin-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: silver;
}
#footer>div:first-child>a:hover{
	text-decoration: underline;
}
#footer>span{
	font-size: 12px;
  color: #636363;
}
#footer>a:nth-child(3),#footer>a:last-child{
	font-size: 12px;
  	color: #636363;
	text-decoration:none;
}
